<h4>User Agent:</h4>
{{this.userAgent.userAgent}}

<h4>Browser:</h4>
{{this.userAgent.browser.info.name}}

<h4>Device Type:</h4>
{{if this.userAgent.device.info.type this.userAgent.device.device.info.type "Desktop"}}

<h4>Device Model:</h4>
{{this.userAgent.device.info.model}}

<h4>Engine:</h4>
{{this.userAgent.engine.info.name}}

<h4>OS:</h4>
{{this.userAgent.os.info.name}}